// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Navbar
#navbar {
    background-color: blanchedalmond;
    padding-top: 0px;
    padding-bottom: 0px;
}

#navContainer {
    margin-left: 0px;
    padding-left: 0px;
}

#szakilogo {
    height: 100px;
    width: 100px;
}

.nav-item {
    padding: 10px;
}

.navbar-link {
    text-decoration: none;
    color: black;
}

a.navbar-brand {
    margin-left: 16px;
}

#addTpForm {
    padding: 10px;
    margin: auto;
}

#addTpSubmitBtn {
    margin-top: 20px;
}

div #highlighted {
    padding-top: 20px;
}

//Body
body {
    min-height: 100vh;
}

/* Home Left col-3 */
#left {
    margin-top: 100px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 300px;
    text-align: center;
}

/* Home Right col-3 */
#right {
    margin-top: 100px;
    padding-left: 20px;
    max-width: 300px;
    text-align: center;
}

#mainContent {
    display: flex;
}

/*Carousel color black*/
.carousel-control-next,
.carousel-control-prev

/*, .carousel-indicators */
    {
    filter: invert(100%);
}

/* .carousel-control-prev, .carousel-control-next{
    transform: translateY(-50%);
} */

/* tradespersonList CSS */
/* #tradespersonList{
    margin: auto;
    width: 70%;
} */

.card {
    background: #222;
    border: 1px solid #dd2476;
    margin-bottom: 2rem;
}

/* .card-img-top {
    height: 200px;
} */

.btn {
    border: 5px solid;
    border-image-slice: 1;
    text-decoration: none;
    transition: all .4s ease;
}

.btn:hover,
.btn:focus {
    box-shadow: #222 1px 0 10px;
    text-decoration: none;
}

#tradeSearch > form > div > div{
    margin: auto;
    padding-top: 200px;
}