#tradeSearch>form>div>div {
    padding-top: 0.5em;
}

#middle {
    align-self: center;
    text-align: -webkit-center;
    //padding-top: 7em;
}

#left{
    text-align:center;
    padding-left: 8em;
    padding-right: 6em;
    padding-top: 3em;
    height:8em;
}

#right {
    margin-top: 3em;
    padding-left: 6em;
    padding-right: 10em;
    text-align: center;
}
#searchBtn{
    margin-top: 2em;
}

#tradeSearch > form > div > label{
    font-size:2em;
}

#tradeSearch > form > div > div > label
{
    font-size:2em;
}

#tradeSearch{
    margin-top: 15em;
}

#mainContent {
    display: flex;
}

#trades {
    text-decoration: none;
    font-weight: 900;
    font-size: large;
}

#trades:hover {
    box-shadow: inset 100px 0 0 0 #bcc1db;
    color:white;
    background-color: #bcc1db;
}


.container-xxl, .container-xl, .container-lg, .container-md, .container-sm, .container {
    max-width: 1920px;
}
