#tradeSearch>form>div>div {
    padding-top: 0px;
}

#middle {
    align-self: center;
    text-align: -webkit-center;
}

#left {
    margin-top: 50px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 300px;
    text-align: center;
}

/* Home Right col-3 */
#right {
    margin-top: 50px;
    padding-left: 20px;
    max-width: 300px;
    text-align: center;
}

#mainContent {
    display: flex;
}

#trades {
    text-decoration: none;
    font-weight: 900;
    font-size: large;
}

#trades:hover {
    box-shadow: inset 100px 0 0 0 #bcc1db;
    color:white;
    background-color: #bcc1db;
  }